@model OnlineShop.ViewModels.DishViewModel

<h1>Created Dish Details</h1>

<div class="form-group">
    <label for="Name">Dish Name:</label>
    <span>@Model.Name</span>
</div>

<div class="form-group">
    <label for="Description">Dish Description:</label>
    <span>@Model.Description</span>
</div>

<div class="form-group">
    <label for="Photo">Dish Photo:</label>
    @if(Model.Photo != null)
    {
        <img src="@Model.Photo" alt="Dish Photo" />
    }
    else
    {
        <span>No Photo Available</span>
    }
</div>

<div class="form-group">
    <label for="Price">Dish Price:</label>
    <span>@Model.Price</span>
</div>

<div class="form-group">
    <label for="Currency">Currency:</label>
    <span>@Model.Currency</span>
</div>

<div class="form-group">
    <label for="Categories">Categories:</label>
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>@category.Name</li>
        }
    </ul>
</div>