@model OnlineShop.ViewModels.DishDataViewModel

<h1>Created Dish Details</h1>

<div class="form-group">
    <label for="Name">Dish Name:</label>
    <span>@Model.Dish.Name</span>
</div>

<div class="form-group">
    <label for="Description">Dish Description:</label>
    <span>@Model.Dish.Description</span>
</div>

<div class="form-group">
    <label for="Photo">Dish Photo:</label>
    <img src="@Model.Dish.Photo" alt="Dish Photo" />
</div>

<div class="form-group">
    <label for="Price">Dish Price:</label>
    <span>@Model.Dish.Price</span>
</div>

<div class="form-group">
    <label for="Currency">Currency:</label>
    <span>@Model.Dish.Currency</span>
</div>