@model IEnumerable<OnlineShop.ViewModels.DishViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dish-container">
    <h1>Welcome to Sivach Shop!</h1>
    
    <div class="dish-container">
        <div class="column">
            @foreach (var dish in Model)
            {
                <div class="dish-card">
                    <h2>@dish.Name</h2>
                    <p>@dish.Description</p>
                    <p class="price">Price: @dish.Price @dish.Currency</p>
                    <a href="@Url.Action("Details", "Dish", new { id = dish.Id })" class="details-link">View Details</a>
                </div>
            }
        </div>
    </div>
</div>
